text {
	font: bold 16px monospace;
}

.enter {
	fill: green;
}

.update {
	fill: #333;
}

.node circle {
	fill: #fff;
	stroke: #000;
}

path.link {
	fill: none;
	stroke: "#000";
}

.exit{
	fill: brown;
}

#add_form {
	display: inline;
}